<div>

<div class="row" style="margin-top:5rem">
  <div class="col s12">
    <div class="card">

      <div class="card-content grey-text row">
        <div ng-repeat="expense in clients">
          <h6>Project : {{expense['project_name']}}</h6>
          <h6>Client : {{expense['client']}}</h6>
        </div>
        <span class="right"><a href="/project/{{proid}}"><i class="tiny material-icons grey-text">clear</i></a></span>
      </div>

      <div class="card">
        <div class="card-content grey-text row">

          <h6> Project's spendings </h6>

          <form id="project_info" name="project_info" class="" ng-submit="ledgerStore(project_info)" enctype="multipart/form-data" method="post">

            <div class="row">
              <div class="input-field col s12  m12 l4">
                <input  name= "name" id="payee_name" type="text" class="validate" ng-model="payee_name">
                <label for="payee_name">Payee Name</label>
              </div>
              <div class="input-field col s12  m12 l4">
                <input id="last_name" type="text" name= "particulars" class="validate" ng-model="particulars">
                <label for="last_name">Particulars</label>
              </div>
              <div class="input-field col s12  m12 l4">
                <input  name= "amount" id="amount" type="text" class="validate" ng-model="amount">
                <label for="amount">Amount</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12  m12 l4">
                <input id="tax_amount"  name= "tax_amount" type="text" class="validate" ng-model="tax_amount">
                <label for="tax_amount">Tax amount</label>
              </div>
              <div class="input-field col s12 m12 l4">
                <input type="text" id="bank" name="bank" value="" ng-model="bank">
                <label for="bank">Bank</label>
              </div>
              <div class="input-field col s12 m12 l4">
                <input type="text" name="check_no" id="check_no" value="" ng-model="check_no">
                <label for="check_no">Cheque Number</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m12 l4">
                <input type="text" name="concern_person" id="concern_person" value="" ng-model="concern_person">
                <label for="concern_person">Concern Person</label>
              </div>
              <div class="input-field col s12 m12 l4">
                <input id="pay_date" name="pay_date" type="date" value="" class="datepicker" ng-model="date">
                <label for="pay_date">Date</label>
              </div>
              <div class="input-field col s12  m12 l4">
                <input  name= "bill_no" id="bill_no" type="text" class="validate" ng-model="bill_no">
                <label for="bill_no">Bill No</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12  m12 l4">
                <div class="row">
                  <select class="browser-default" name="type_of_transaction" ng-model="type_of_transaction">
                      <option value="Credit">Credit</option>
                      <option value="Debit">Debit</option>
                  </select>
                </div>
              </div>
              <div class="input-field col s12  m12 l4">
                <div class="row">
                  <select class="browser-default" name="mode_of_transaction" ng-model="mode_of_transaction">
                      <option value="others" selected>mode_of_transaction</option>
                      <option value="Cash">Cash</option>
                      <option value="Cheque">Cheque</option>
                      <option value="Account">Account</option>
                      <option value="others">Others</option>
                  </select>
                </div>
              </div>
              <div class="input-field col s12  m12 l4">
                <input id="remarks"  name= "remarks" type="text" class="validate" ng-model="remarks">
                <label for="remarks">Remarks</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12  m12 l4">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Upload File</span>
                    <input type="file" name="image[]" file-model="myFile" multiple />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" id="path" name="path" type="text" ng-model="files" placeholder="Upload files">
                  </div>
                </div>
              </div>
            </div>

            <div  class="row">
              <div class="input-field">
                <button class="btn right" type="submit"  value="">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>

      
      <div>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Expenses</div>
            <div class="collapsible-body">

              <div class="card-content grey-text row">
                <table  id="toExcel"  class="bordered">
                  <thead>
                    <tr>
                        <th data-field="name">Name</th>
                        <th data-field="amount">Amount</th>
                        <th data-field="tax_amount">Tax Amount</th>
                        <th data-field="particulars">Particulars</th>
                        <th data-field="mode_of_transaction">Mode</th>
                        <th data-field="bill_no">Bill No</th>
                        <th data-field="check_no">Check/Refrence</th>
                        <th data-field="bank">Bank</th>
                        <th data-field="date">Date</th>
                        <th data-field="concern_person">Conc Person</th>
                        <th data-field="remarks">Remarks</th>
                        <th data-field="remarks">Attachment</th>
                        <th>

                        </th>
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr ng-repeat="expense in expenses">
                      <td>{{expense['name'] ? expense['name'] : 'N.A' }}</td>
                      <td>{{expense['amount'] ? expense['amount'] : 'N.A'}}</td>
                      <td>{{expense['tax_amount'] ? expense['tax_amount'] : 'N.A'}}</td>
                      <td>{{expense['particulars'] ? expense['particulars'] : 'N.A'}}</td>
                      <td>{{expense['mode_of_transaction'] ? expense['mode_of_transaction'] : 'N.A'}}</td>
                      <td>{{expense['bill_no'] ? expense['bill_no'] : 'N.A'}}</td>
                      <td>{{expense['cheque_number'] ? expense['cheque_number'] : 'N.A'}}</td>
                      <td>{{expense['bank'] ? expense['bank'] : 'N.A'}}</td>
                      <td>{{expense['date'] ? expense['date'] : 'N.A'}}</td>
                      <td>{{expense['concern_person'] ? expense['concern_person'] : 'N.A'}}</td>

                      <td>{{expense['remarks'] ? expense['remarks'] : 'N.A'}}</td>
                      <td><a href="https://storage.googleapis.com/cafeindica/thisisnotarandomstringinfactnoneis/{{expense['path']}}">{{expense['remarks'] ? expense['type'] : 'N.A'}}</a></td>

                      <td><a href="" class="edit_expense" ledgerid="{{expense['id']}}" >Edit</a></td>
                    </tr>

                  </tbody>
                </table>
                <button  class="btn right btn-success" onclick="exceller()" style="margin-top: 40px">Export Excel</button>
              </div>

            </div>

          </li>
        </ul>

      </div>

      <div class="card">
        <div class="card-content grey-text row">
          <h6 id="pcost"> Project Cost :  ₹</h6>
          <form id="project_costs" name="project_costs" class= "l6" ng-submit="projectCost(project_costs)" action="" method="post">
            
            <div class="row">
              <div class="input-field col s12  m12 l6">
                <input id="costs" type="text" name= "costs" class="validate" ng-model="costs">
                <label for="costs">Estimated costs</label>
              </div>
              <div class="input-field col l6">
                <button class="btn left" type="submit"  value="">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>

    <div class="card">
      <div class="card-content grey-text row">
        <h6> Installments </h6>
  
        <form id="project_installment" style="padding-top:20px" name="project_installment" class= "l6" method="post" ng-submit="storeProjectInstallement(project_installment)">
          
          <div class="input_fields_wrap">
            <button class="add_field_button">Add More Fields</button>
            <div class="row">

              <div class="input-field col s12  m12 l3">
                <input  type="text" name="amount[]" class="validate" ng-model="amount">
                <label for="amount">Amount</label>
              </div>

              <div class="input-field col s12  m12 l3">
                <select class="browser-default" name="status[]" ng-model="due">
                  <option value="due">Due</option>
                  <option value="paid">Paid</option>
                  <option value="disabled">Disable</option>
                </select>
              </div>

              <div class="input-field col s12  m12 l3">
                <label for="style">Due date</label>
                <input type="date" id="due_date" name="due_date[]" class="datepicker" ng-model="due_date">
              </div>

            </div>

            <div class="row">

              <div class="input-field col s12  m12 l3">
                <label for="style">Payment date</label>
                <input type="date" id="paid_date" name="paid_date[]" class="datepicker" ng-model="paid_date">
              </div>

              <div class="input-field col s12  m12 l3">
                <select class="browser-default" name="mode_of_transaction[]" ng-model="mot">
                    <option value="others" selected>mode_of_transaction</option>
                    <option value="Cash">Cash</option>
                    <option value="Cheque">Cheque</option>
                    <option value="CCAvenue">CCAvenue</option>
                    <option value="Online_Transfer">Online Transfer</option>
                    <option value="Othres">Others</option>
                </select>
              </div>

              <div class="input-field col s12  m12 l3">
                <input  type="text" name="tax[]" class="validate" ng-model="tax">
                <label for="amount">Tax(%)</label>
              </div>

            </div>
        </div>

        <div  class="row">
          <div class="input-field col l9">
            <button class="btn right" type="submit"  value="">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>





<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>installments</div>
    <div class="collapsible-body">

      <div class="card-content grey-text row">
        <table>
          <thead>
            <tr>
              <th data-field="invoice_no">Invoice no</th>
              <th data-field="amount"> Amount</th>
              <th data-field="tax_amount"> Tax amount </th>
              <th data-field="due_date">Due date</th>
              <th data-field="status">Status</th>
              <th data-field="paid_on"> Paid On </th>
              <th data-field="mode_of_transation">Mode Of Transation</th>
              <th data-field="edit"> Edit </th>

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="installment in installments">
              <td>{{installment['invoice_no']}}</td>
              <td>{{installment['amount']}}</td>
              <td>{{installment['tax_amount']}}</td>
              <td>{{installment['due_date']}}</td>
              <td>{{installment['status']}}</td>
              <td>{{installment['paid_on']}}</td>
              <td>{{installment['mode_of_transaction']}}</td>
              <td><span class="left"><small>
              <!-- <a href="/project/{{$installment->id}}/installment/edit">Edit</a> -->
              <button data-target="modal1" class="btn modal-trigger btn-small">Edit</button>
      
              </small></span>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Transaction details</div>
    <div class="collapsible-body">

      <div class="card-content grey-text row">
        <table>
          <thead>
            <tr>
              <th data-field="bankref">Bank Reference no</th>
              <th data-field="bank"> Bank </th>
              <th data-field="mode">Mode of transaction</th>
              <th data-field="status">Status</th>
              <th data-field="amount"> Amount</th>
              <th data-field="timestamp"> Time </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="payments in project_payments">
              <td>{{payments['bank_ref_no']}}</td>
              <td>{{payments['card_name']}}</td>
              <td>{{payments['payment_mode']}}</td>
              <td>{{payments['transaction_status']}}</td>
              <td>{{payments['duepayment']}}</td>
              <td>{{payments['created_at']}}</td>
            </tr>
          </tbody>
          </table>
        </div>

    </div>
  </li>
</ul>


    </div>
  </div>
</div>
</div>

<!-- Edit project details -->
    <!-- <button data-target="modal1" class="btn modal-trigger btn-small">Edit</button> -->

    <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <div ng-include='"projects/basic_info.html"'></div>
        </div>
      </div>

      <script type="text/javascript">
  
  $(document).ready(function() {
  $('.modal-trigger').leanModal();
});

</script>

<script type="text/javascript">
  $('.collapsible').collapsible();
</script>




<script type="text/javascript">
$('.datepicker').pickadate({
  today: '',
  selectMonths: true, // Creates a dropdown to control month
  selectYears: 15, // Creates a dropdown of 15 years to control year
  format: 'yyyy-mm-dd'
});
var $input = $('.datepicker').pickadate();

$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><div class="row"><div class="input-field col s12  m12 l3"><input  type="text" name="amount[]" class="validate"><label for="amount">Amount</label></div><div class="input-field col s12  m12 l3"><select class="browser-default" name="status[]"><option value="due">Due</option><option value="paid">Paid</option><option value="disabled">Disable</option></select></div><div class="input-field col s12  m12 l3"><label for="style">Due date</label><input type="date" id="due_date" name="due_date[]" class="datepicker"></div><a href="#" class="remove_field">Remove</a> </div></div>'); //add input box
        }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>


