<link rel="stylesheet" type="text/css" href="css/projects/settings.css">

<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="card-title grey-text" pid="{{projectid}}" id="pid">Project Team</div>
        <form name="employeeForm" class="" method="post" ng-submit="addProjectTeam(employeeForm)">
          <div class="row employee-field">
            <input type="text" name="categories" placeholder="Employee" id="inteam" ng-model="inteam">
            <ul class="card" id="ulteam"></ul>
          </div>
          <div class="row employee-field">
            <div class="row">
              <select class="browser-default" name="role" id="role" ng-model="role">
                  <option value="" disabled selected>Role</option>
                  <option value="RELATIONSHIP_MANAGER">RELATIONSHIP MANAGER</option>
                  <option value="PROJECT_MANAGER">PROJECT MANAGER</option>
                  <option value="DESIGNER">DESIGNER</option>
                  <option value="SITE_SUPERVISOR">SITE SUPERVISOR</option>
              </select>
            </div>
            <div class="input-field row s12">
              <button class="btn waves-effect waves-light grey right col s4" type="submit">Add team</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>


<script type="text/javascript">
var employee;
var suggested_employee = [];
var specialKeys = [9, 16, 17, 20, 37, 38, 39, 40];
var highlight = 0;
var street_name;

window.onload=function(){
  street_name = $("#pid").attr("pid");
      console.log(street_name);
}

$(document).ready(function(){  
  

    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "http://web.cafe-indica-163107.appspot.com/api/get/all/empteam", false);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();
    empl = JSON.parse(xhttp.responseText);
    employee = empl.datasets;

  $.ajaxSetup({ headers: { 'X-CSRF-TOKEN' : '{{ csrf_token() }}' } });

  // $('form[name="employeeForm"]').submit(function(evt){
  //   var data = {};
  //   data.existingEmployee = [];
  //   data.newEmployees = [];

  //   data.existingRole = $("#role").find(":selected").val();

  //   evt.preventDefault();
  //   $.each($('.chip'), function(index, chip){
  //     if($(chip).attr('emp-id') == 0){
  //       data.newEmployees.push($($(chip).find('span')).text());
  //     }
  //     else{
  //       data.existingEmployee.push($(chip).attr('emp-id'));

  //     }
  //   });
  //   $.post('/project/{{$project->id}}/team', data, function(response){
  //     location.reload();
  //   });
  // });

  $('.employee-field #inteam').focus(function(){
    $('.employee-field #ulteam').show();
    $('.employee-field i').show();
  });

  $('.employee-field #inteam').keydown(function(evt){
    if(evt.keyCode == 38){
      evt.preventDefault();
      highlight = highlight < 1 ? highlight : highlight - 1;
    }
    if(evt.keyCode == 40){
      evt.preventDefault();
      highlight = highlight > suggested_employee.length-2 ? highlight : highlight + 1;
    }
    if(evt.keyCode == 13){
      evt.preventDefault();
      highlighted = $('.employee-field li.highlight');

      if(highlighted.length < 1){
        markup = '<div class="chip" emp-id="0"><span>'+$(this).val()+'</span><i class="material-icons" style="display:block;">close</i></div>';
      }
      else{

        markup = '<div class="chip" emp-id="'+highlighted.attr('emp-id')+'">'+highlighted.text()+'<i class="material-icons" style="display:block;">close</i></div>';
      }
      $(this).parent().before($(markup));
      $(this).val('');
      $(this).siblings('#ulteam').html('');
      $('.employee-field button').show();
    }

    $('.employee-field li').removeClass('highlight');
    $($('.employee-field li')[highlight]).addClass('highlight');
  })

  $('.employee-field #inteam').keyup(function(evt){
    if(specialKeys.indexOf(evt.keyCode) > -1 || $(this).val().length < 1){
      return;
    }

    highlight = 0;
    $('.employee-field ul').html('');
    suggested_employee = [];
    employee.forEach(function(employee, index){
      if(employee.emp_name.toLowerCase().indexOf($('.employee-field #inteam').val().toLowerCase()) < 0){
        return;
      }

      suggested_employee.push(employee);
      markup = '<li emp-id="'+employee.id+'">' + employee.emp_name + '<br /> ' + employee.emp_email + '</li>';
      $('.employee-field #ulteam').append($(markup));
    });

    employee.forEach(function(employee, index){
      if(employee.emp_email.toLowerCase().indexOf($('.employee-field #inteam').val().toLowerCase()) < 0){
        return;
      }

      suggested_employee.push(employee);
      markup = '<li emp-id="'+employee.id+'">' + employee.emp_name + '<br />' + employee.emp_email + '</li>';
      $('.employee-field #ulteam').append($(markup));
    });

    $('.employee-field li').removeClass('highlight');
    $($('.employee-field li')[highlight]).addClass('highlight');
  });

  $('.employee-field #inteam').blur(function(){
    $('.employee-field #ulteam').hide();
  });
});
</script>
