
<style type="text/css">
  .manage-btn:hover{
    background-color: #dddddd;
  }
</style>

  <div ng-if="isEmpeHome()">
    <ul class="collapsible" data-collapsible="accordion">

   <li ng-repeat="employee in employees">
     <div class="collapsible-header">
       <div class="col l4">{{ employee['name'] }}</div>
       <div class="col l3">{{ employee['mobile'] }}</div>
       <div class="col l3">{{ employee['email'] }}</div>
       <a class="manage-btn" ui-sref=".manage({manageid: employee['id']})"><small>Manage</small></a>
     </div>

     <div class="collapsible-body">
      <div ng-include='"employee/detail.html"'></div>
     </div>
   </li>
   
 </ul>
  </div>

  <div ng-if="isEmpeManageHome()">
    <div ng-include='"employee/manage.html"'></div>
  </div>


<!-- <script>$('.collapsible').collapsible();</script> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>


 


