<link rel="stylesheet" type="text/css" href="css/login.css">

<div id="overlay">
  <div id="text">
    
    <div class="valign-wrapper row" id="mainlogin">
  <div>

    <div class="center">

      <!-- <div ng-show="isLoading" style="margin-left: auto; margin-right: auto; z-index:100; position: fixed; color: white">
        <img src="images/preloader.gif" width="50px" height="50px">
      </div> -->

      <h5 class="center-align white-text text-darken-1" >
                Sign in to continue </h5>
      <div class="card-panel black lighten-3 z-depth-2" id="loginform">

        <form method="POST" name="loginForm" ng-submit="submitLogin(loginForm)" class="row" ng-submit="loginForm.$valid && submitLogin(loginForm)">
          <input type="hidden" name="_token" id="csrf-token" value="" />

            <div class="row">
              <div class="input-field">
                <input id="email" name="email" type="text" ng-model="employee.email" value="" class="validate @if(count($errors)>0) @if(strlen($errors->default->first('password'))) invalid @endif @endif" >
                <label for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field row">
                <input id="password" name="password" type="password" ng-model="employee.password" class="validate @if(count($errors)>0) @if(strlen($errors->default->first('password'))) invalid @endif @endif" >
                <label for="password">Password</label>
              </div>
            </div>

            <div class="row">
              <p class="col" style="padding-left:0;">
                <input type="checkbox" id="remember-check" class="filled-in" />
                <label for="remember-check">Remember me</label>
              </p> 
              <div class="input-field col right">
                <button class="btn waves-effect grey darken-1" type="submit" name="action">Sign In</button>
              </div>
            </div>

            <div class="row">
              <div ng-show="dataLoading" style="margin-left: auto; margin-right: auto; z-index:100; color: white">
                <img src="images/preloader.gif" width="50px" height="50px">
              </div>
            </div>

        </form>
      </div>
    </div>

  </div>
</div>
    


  </div>
</div>


<div id="text1">
  <video  autoplay muted loop class="responsive-video" id="bgvid">
        <source src="/video/CafeINDICA.mp4" type="video/webm">
  </video>
</div>