#fixed_item{
  margin-top: 25px;
}

.project-detail span.right{
  font-size: 13px;
}


.removeicon{
  cursor: pointer;
  font-size: 16px;
}


.clients-field{
  width: 250px;
  margin-left: 6px;
  }
.clients-field ul{
  position: absolute;
  width: 100%;
  top: 108px;
  left: 0px;
  background-color: white;
  opacity: 1;
  z-index: 100;
}

.clients-field li{
  padding: 5px;
  top: 5px;
  overflow-y: auto;
}

.clients-field li.highlight{
  background-color: #aaaaaa;
  color: white;
}

.clients-field i{
  display: none;
}